#headline {
  font-size: 4em;
  font-weight: 700;
  text-align: center;
  font-family: 'Source Serif Pro', serif;
  color: #fff;
}

#byline {
  font-size: 1em;
  font-family: 'Red Hat Display', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

#chapter {
  font-size: 2em;
  font-weight: 700;
  text-align: left;
  font-family: 'Red Hat Display', sans-serif;
  background-color: #f23030;
  opacity: .8;
  color: #fff;
}

p {
  font-family: 'Source Serif Pro', serif;
  line-height: 180%;
  font-size: 1em;
}

.container {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%
}

figcaption {
  font-family: 'Red Hat Display', sans-serif;
  text-align: left;
  font-weight: 300;
  font-size: 1em;
}

.small {
  margin-left: 20;
  margin-right: 20;
}

.footer {
  position: static;
  height: 65px;
  width: 100%;
  bottom: 0;
  background-color: black;
  text-align: center;
  color: white;
}

.columns {
  font-family: 'Source Serif Pro', serif;
  text-align: center;
}

/* Top nave / Top Hat */

.nav-top {
  color:#fff;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 700;
}

.red {
  color:#f23030;
}

/* Hero/splash area */

.hero-container {
    position: relative;
    text-align: center;
    color: white;
}

.hero-image {
    width: 100%;
  filter: grayscale(100%) drop-shadow(0px 0px 10px red);
}

.overlay {
  position: absolute;
  margin: 0 auto; left: 0; right: 0;
  top: 0%;
  width: 47%;
  background-color: #f23030;
  opacity: .8;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.black {
  color:black;
}

.hero-hed {
  font-family: 'Source Serif Pro', serif;
  font-weight: 900;
  font-size: 6em;
  color: #fff;
  margin: 0 auto;
  padding-bottom: 10px;
}

.hero-sub {
  font-family: 'Red Hat Display', sans-serif;
  font-size: .25em;
}

.hed-overlay {
  margin: 0 auto;
  width: 100%;
  background-color: #f23030;
  padding-top: 20px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 18px;
  opacity: .8;
}


.quote {
  font-family: 'Red Hat Display', sans-serif;
  color: #f23030;
  font-size: 3em;
  font-weight: 700;
  text-align: left;
  padding: 15 px 0 15px 0;
  border-top: 1px solid #f23030;
  border-bottom: 1px solid #f23030;
  margin-top: 20px;
  margin-bottom: 20px;
}

.quote-attribution {
  font-size: .5em;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 100;
  text-align: left;
  color: black;
}

.full-screen-image {
    width: 100%;
}
/* Media Queries */

@media (max-width: 700px) {
  .hero-hed {
    font-size: 1.5em;
  }
