#headline {
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  font-family: 'Red Hat Text', sans-serif;
}

#byline {
  font-size: 1em;
  font-family: 'Red Hat Text', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

#chapter {
  font-size: 2em;
  font-weight: 700;
  text-align: left;
  font-family: 'Red Hat Text', sans-serif;
}

p {
  font-family: Georgia, serif;
  line-height: 180%;
  font-size: 1em;
}

.container {
  margin: 0 auto;
}

.topper {
  width: 100%;
}

.hero-container {
    position: relative;
    text-align: center;
    color: black;
}


.overlay {
  position: absolute;
  margin-top: 36px;
  margin-left: 30px;
  top: 40%;
  width: 20%;
  background-color: #FFEAD0;
  opacity: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
}


.hero-hed {
  font-family: 'Playfair Display', serif;
  font-size: 1em;
  color: black;
  margin: 0 auto;
  padding-bottom: 10px;
}

hr {
  display: block;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 25px;
  background-color:#7D6968;
  opacity: 20%;
  top: 0;
}

.separator{
  display: flex;
  align-items: center;
}

.capitol{
  opacity: 0.1;
  margin: 0 auto;
  width: 100%;
}

.screen{
  margin: 0 auto;
  width: 100%;
}

  /* section titles */
  .sectionheader {
    background-color: #E4EAD1;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    min-width: 300px;
    font-size: 2em;
    text-transform: uppercase;
    color: #484848;
    font-weight: 700;
    font-size: 3em;
    text-align: center;
    top: 0;
  }

  /* skills boxes */
  .skills-box {
    position: absolute;
    bottom: 10px;
    left: 245px;
    background-color: white;
    color: black;
    padding: 20px;
    font-weight: 500;
    font-size: 1em;
    text-align: center;
    font-style: 'Red Hat Text', sans-serif;

  }


.footer {
  position: static;
  height: 100px;
  width: 100%;
  bottom: 0;
  background-color: black;
  text-align: center;
  color: white;
}

.columns {
  font-family: Georgia, serif;
  text-align: center;
}



.skills-overlay {
  position: absolute;
  margin: 0 auto; left: 0; right: 0;
  top: 0%;
  width: 47%;
  background-color: #f23030;
  opacity: .8;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
