
p {
  font-family: 'Lora', serif;
  font-size: 1em;
}

h4 {
  color: #597988;
}

.topper {
  width: 100%;
}

.hero-container {
    position: relative;
    text-align: center;
    color: black;
}


.overlay {
  position: absolute;
  margin-top: 36px;
  margin-left: 30px;
  top: 40%;
  width: 20%;
  background-color: #FFEAD0;
  opacity: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
}


.hero-hed {
  font-family: 'Lora', serif;
  font-size: 1em;
  color: black;
  margin: 0 auto;
  padding-bottom: 10px;
}

hr {
  display: block;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 25px;
  background-color:#7D6968;
  opacity: 20%;
  top: 0;
}

.separator{
  display: flex;
  align-items: center;
}

.capitol{
  opacity: 0.1;
  margin: 0 auto;
  width: 100%;
}

.screen{
  width: 100%;
}

  /* section titles */
  .sectionheader {
    background-color: #E4EAD1;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    min-width: 300px;
    font-size: 2em;
    text-transform: uppercase;
    color: #484848;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    font-size: 3em;
    text-align: center;
    top: 0;
  }



  /* Container holding image and text */
  .section-container {
    position: relative;
    text-align: center;
    color: black;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }


  /*Skills elements */
  .skills-image {
    background-image: url("images/screenshot_crop.jpg");
    background-color: black;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .left-box {
    position: absolute;
    bottom: 40%;
    left: 550px;
    background-color: #FFEAD0;
    padding: 30px 60px;
    font-weight: 600;
    font-size: 1em;
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    }

    .center-box {
      position: absolute;
      bottom: 40%;
      left: 875px;
      background-color: #FFEAD0;
      padding: 30px 60px;
      font-weight: 600;
      font-size: 1em;
      text-align: center;
      font-family: 'Red Hat Display', sans-serif;
      }

    .right-box {
      position: absolute;
      bottom: 40%;
      left: 1200px;
      background-color: #FFEAD0;
      padding:30px 40px;
      font-weight: 600;
      font-size: 1em;
      text-align: center;
      font-family: 'Red Hat Display', sans-serif;
      }

      .skill-title {
        font-family: 'Red Hat Display', sans-serif;
        text-decoration-color: #597988;
        text-decoration: underline;
        font-weight: 700;
        font-size: 1.5em;
      }

    /*End Skill elements */



.footer {
  position: static;
  height: 100px;
  width: 100%;
  bottom: 0;
  background-color: black;
  text-align: center;
  color: white;
  font-family: 'Lora', serif;
}

.columns {
  font-family: 'Lora', serif;
  text-align: center;
}
