.logo {
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

BODY {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 12px;
}

p {
  text-align: left;
}

h1 {
  font-family: 'Georgia', 'Times New Roman', serif;
  font-size: 40px;
  font-weight: bolder;
}


#content {
  margin: 0 auto;
  width: 1000px;
}

#byline {
font-family: 'Arial', 'Helvetica', sans-serif;
font-size: 16px;
font-style: italic;
}

img {
  width: 100%;
  height: auto;
  margin-top: 30px;
  margin-bottom: 10px;
}

figcaption {
  font-family: Helvetica, sans-serif;
  text-align: left;
  font-style: italic;
  font-weight: 400;
}

.cropped {
  float: left;
  width: 65%;
  height: auto;
  margin-right: 20px;
  
}
