.logo {
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

BODY {
  font-family: 'Helvetica', 'Arial', sans-serif; font-size: 12px;
}

.p {
  text-align: left;
}

.h1 {
  font-family: 'Georgia', 'Times New Roman', serif;
  font-size: 75px;
  font-weight: bolder;
}


#content {
  margin: 0 auto;
  width: 1000px;
}
