.logo {
  width: 50%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

BODY {
  font-family: 'Georgia', serif; font-size: 13px;
}

.p {
  text-align: left;
}

.h1 {
  font-family: 'Helvetica', sans-serif; font-size: 65px;
  font-style: bolder
}

h2 {
  font-family: 'Helvetica', sans-serif; font-size: 20px;
  font-style: bolder
}

blockquote {
  font-size: 1.4em;
  width: 60%;
  margin: 50px auto;
  font-family: Helvetica;
  font-style: italic;
  padding: 10px 30px 10px;
  border-left:8px solid #A3B6EA;

}

blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

#content {
  margin: 0 auto;
  width: 900px;
}

#byline {
font-family: Helvetica, sans-serif;
font-size: 14px;
font-style: italic;
}

img {
  width: 100%;
  heigt: auto;
}

figcaption {
  font-family: Helvetica, sans-serif;
  text-align: right;
  font-style: italic;

}

#spacecraft {
  border-style: solid;
  border-width: thin;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

}
